.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_container{
        width: 75%;
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        &_img{
            img{
                width: 25em;
            }
        }
        &_text{
            font-size: 1.5em;
            text-align: justify;
            width: 600px;
        }
    }
}